body {
  font-family: "Lucida Console", "Courier New", monospace;
  background: linear-gradient(to right, rgb(92, 7, 202), rgb(255, 233, 236));
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

h1 {
  background-color: black;
  padding: 10px;
  margin: 0;
  color: #92a4ff;
  text-align: center;
}

.active {
  background-color: #92a4ff;
}

h2{
  display: flex;
  background-color: rgb(96, 236, 107);
  justify-content: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}
